<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Загрузка файлов</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <p>Графемы ( Графемы.zip )</p>
        <input type="file" name="graf" accept=".zip" required>
        <p>Иероглифы ( Иероглифы.zip )</p>
        <input type="file" name="ier" accept=".zip">
        <p>База графем и иероглифов ( БазаИероглифов.zip )</p>
        <input type="file" name="baza" accept=".txt" required>
        <p>Шаблон ( Шаблон.zip )</p>
        <input type="file" name="shablon" accept=".txt">
        <input type="submit" value="Download">
    </form>
</body>
</html>